{% extends 'base.html' %}
{% block title %}Home{% endblock title %}
{% block body %}


<h3 style="font-size: 2.75rem;
    text-align: center;
    padding: 2rem;">Start Sending Promotional Emails
</h3>
<div class="container" style="max-width:800px">
    <form method="post" action="/">
        {% csrf_token %}
        <div class="mb-3">
            <label for="email" class="form-label"><b>Email Address :</b></label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter email here.">
        </div>
        <div class="mb-3">
            <label for="name" class="form-label"><b>Name of the Reciever :</b></label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Enter the name here.">
        </div>

        <label for="city" class="form-label"><b>Reciever's City :</b></label>
        <select class="form-select" name="city" aria-label="Default select example">
            <option selected>Open this select menu</option>
            <option value="mumbai">Mumbai</option>
            <option value="delhi">Delhi</option>
            <option value="chennai">Chennai</option>
            <option value="bengaluru">Bengaluru</option>
            <option value="kolkata">Kolkata</option>
        </select>
        <div class="d-grid gap-2 col-2 mx-auto my-4 ">
            <button class="btn btn-primary" type="submit" style="padding: 1rem;">Submit</button>
        </div>
    </form>
</div>
{% endblock body %}